@import url(reset.css);
@import url(fonts/stylesheet.css);
.wrapper {
  min-height: 100vh;
  display: flex;
  font-family: 'Poppins';
}
.main {
  max-width: 480px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  padding: 0 15px;
  box-shadow: 10px 0px 20px 20px #e9e9e9;
  z-index: 1;
}
.main__logo {
  background-image: url(img/icons/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  max-width: 220px;
  width: 100%;
  min-height: 60px;
  margin-bottom: 23px;
}
.main__login-text {
  font-weight: 700;
  margin-bottom: 45px;
}
.main__login-form {
  max-width: 410px;
  width: 100%;
  font-weight: 400;
}
.main__label {
  color: #555555;
  display: block;
}
.main__input-wrapper {
  display: flex;
  min-height: 50px;
}
.main__input-wrapper_email {
  margin-bottom: 23px;
}
.main__input-wrapper_password {
  margin-bottom: 10px;
}
.main__input {
  color: #555555;
  max-width: 410px;
  width: 100%;
  min-height: 50px;
  position: relative;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0 60px 0 20px;
  background: #F1F3F6;
  font-family: 'Poppins';
  font-size: 16px;
}
.main__image {
  max-width: 50px;
  width: 100%;
  background: #FD7401;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-left: -50px;
}
.main__image_email {
  background-image: url(img/icons/email.png);
}
.main__image_password {
  background-image: url(img/icons/padlock.png);
}
.main__password-recovery {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 33px;
}
.main__password-recovery-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.main__button {
  max-width: 410px;
  width: 100%;
  border-radius: 8px;
  min-height: 50px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
}
.main__button_login {
  border: 1px solid #FD7401;
  background-color: #FD7401;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.main__button_login:hover {
  cursor: pointer;
  background-color: #fa8e35;
}
.main__button_signup {
  border: 1px solid #FD7401;
  color: #FD7401;
}
.main__button_signup:hover {
  cursor: pointer;
  border: 1px solid #fa8e35;
  color: #fa8e35;
}
.main__border-wrapper {
  max-width: 410px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
.main__border {
  max-width: 175px;
  width: 100%;
  min-height: 1px;
  background-color: #C2C2C2;
}
.main__border-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #C2C2C2;
  margin-left: 20px;
  margin-right: 20px;
}
.design-section {
  background-color: #F1F3F6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design-section__image {
  background-image: url(img/source/layersOrange.svg);
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 632px;
  width: 100%;
  max-height: 632px;
  height: 100%;
}
